{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I’m Aniket, a computer science student with a strong interest
            in software development, automation, and real-world problem solving.
            I’m passionate about building clean, functional applications using tools
            like Python, Flask, and APIs. I enjoy breaking down problems, writing
            efficient code, and turning ideas into working projects.
        </p>
        <p>
          A lot of my time goes into experimenting with backend logic, web automation
            (like Selenium), and improving my understanding of how different technologies
            interact. I like working on things that are both practical and challenging whether
            that’s a quiz app, a flight deal tracker, or something completely new.
        </p>
        <p>
          Beyond code, I’m someone who learns by building. I’m always looking for ways to
            grow whether it’s picking up a new library, debugging smarter, or learning from
            others. Tech moves fast, and I enjoy keeping pace with it while creating things that
            are useful and meaningful.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
